.ant-tabs {
  .ant-tabs-tab-active {
    .titleCinema {
      color: #fb923c;
    }
  }
}
.ant-modal-content {
  padding: 10px !important;
  @media screen and (min-width: 1024px) {
    padding: 24px !important;
  }
}
nav {
  ul {
    .active {
      color: #fb923c;
    }
  }
  .menu {
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;

    @media screen and (min-width: 1024px) {
      transform: scaleY(1);
    }
    &.isShow {
      transform: scaleY(1);
    }
  }
}
